<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
    <div class="flex items-center gap-4 text-[#111518]">
      <div class="size-4">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4 42.4379C4 42.4379 14.0962 36.0744 24 41.1692C35.0664 46.8624 44 42.2078 44 42.2078L44 7.01134C44 7.01134 35.068 11.6577 24.0031 5.96913C14.0971 0.876274 4 7.27094 4 7.27094L4 42.4379Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <button (click)="goToHomePrincipal()">
        <h2 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em]">Barber&Beauty</h2>
      </button>
      
    </div>
    <div class="flex flex-1 justify-end gap-8" *ngIf="isLoggedIn; else loggedOutTemplate">
      <div class="flex items-center gap-9">
        <a class="text-[#111518] text-sm font-medium leading-normal" href="#">Inicio</a>
        <a class="text-[#111518] text-sm font-medium leading-normal" href="#">Servicios</a>
        <a class="text-[#111518] text-sm font-medium leading-normal" href="#">Barberias</a>
        <a class="text-[#111518] text-sm font-medium leading-normal" href="#">Salones de belleza</a>
      </div>
      <div class="flex gap-2">
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Mi Cuenta</span>
        </button>
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#f0f2f5] text-[#111518] text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Cerrar Session</span>
        </button>
      </div>
    </div>
  </header>

<ng-template #loggedOutTemplate>
  <div class="flex gap-2">
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]"
      (click)="goToLogin()"
    >
      <span class="truncate">Iniciar Session</span>
    </button>
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#f0f2f5] text-[#111518] text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <span class="truncate">Registrarse</span>
    </button>
  </div>
</ng-template>
