<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="@container">
      <div class="@[480px]:p-4">
        <div
          class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-start justify-end px-4 pb-10 @[480px]:px-10"
          style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.4) 100%
              ),
              url('https://cdn.usegalileo.ai/sdxl10/ecf048be-0423-44ae-b364-98ef56eada56.png');
          "
        >
          <div class="flex flex-col gap-2 text-left">
            <h1
              class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
            >
              Bienvenido, Felipe
            </h1>
          </div>
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
          >
            <span class="truncate">Reservar ahora</span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-10 px-4 py-10 @container">
      <div class="flex flex-col gap-4">
        <h1
          class="text-[#111518] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
        >
          Servicios
        </h1>
        <p
          class="text-[#111518] text-base font-normal leading-normal max-w-[720px]"
        >
          Aquí tienes los servicios que puedes encontrar
        </p>
      </div>
      <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3">
        <div class="flex flex-col gap-3 pb-3">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('https://cdn.usegalileo.ai/stability/bf4a51ce-46ab-4b07-a04c-2d3c7eb6e6a9.png');
            "
          ></div>
          <div>
            <p class="text-[#111518] text-base font-medium leading-normal">
              Corte de Mujer
            </p>
            <p class="text-[#60778a] text-sm font-normal leading-normal">
              Peinados, color, cortes y más
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-3 pb-3">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('https://cdn.usegalileo.ai/stability/631fc114-4a81-4780-a6f0-33039650fe07.png');
            "
          ></div>
          <div>
            <p class="text-[#111518] text-base font-medium leading-normal">
              Corte de Hombre
            </p>
            <p class="text-[#60778a] text-sm font-normal leading-normal">
              Cortes clásicos y estilos modernos
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-3 pb-3">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('https://cdn.usegalileo.ai/sdxl10/2e26032b-edbb-4487-bb1e-025a88790c56.png');
            "
          ></div>
          <div>
            <p class="text-[#111518] text-base font-medium leading-normal">
              Corte de Niño
            </p>
            <p class="text-[#60778a] text-sm font-normal leading-normal">
              Cortes y estilos para niños menores de 12 años
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-3 pb-3">
          <div
            class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
            style="
              background-image: url('https://cdn.usegalileo.ai/sdxl10/0c4bdbfe-5e71-46e1-9631-1ac191f9b151.png');
            "
          ></div>
          <div>
            <p class="text-[#111518] text-base font-medium leading-normal">
              Recorte de Barba
            </p>
            <p class="text-[#60778a] text-sm font-normal leading-normal">
              Limpia tu look con un recorte
            </p>
          </div>
        </div>
      </div>
    </div>
    <h2
      class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
    >
      Reserva Rápida
    </h2>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/stability/f58d82b9-1b6c-4e12-8066-6d92fc654969.png');
          "
        ></div>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Corte de Pelo
          </p>
          <p class="text-[#60778a] text-sm font-normal leading-normal">
            Corte de mujer
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/74dc10c2-9741-4c1b-b491-db724667f9b9.png');
          "
        ></div>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Color
          </p>
          <p class="text-[#60778a] text-sm font-normal leading-normal">
            Balayage
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/stability/3d14769c-7795-4f87-9e21-2000fbb38cc2.png');
          "
        ></div>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Lavado y Peinado
          </p>
          <p class="text-[#60778a] text-sm font-normal leading-normal">
            Blowout
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/sdxl10/d88cf534-dd5d-4056-ae7d-e1ebcdc15efa.png');
          "
        ></div>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Manicura
          </p>
          <p class="text-[#60778a] text-sm font-normal leading-normal">
            Mani de gel
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/stability/cc01ca05-c698-447a-a324-f71706709fd6.png');
          "
        ></div>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Facial
          </p>
          <p class="text-[#60778a] text-sm font-normal leading-normal">
            Dermaplane
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 pb-3">
        <div
          class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl"
          style="
            background-image: url('https://cdn.usegalileo.ai/stability/54ff2148-1897-4862-8343-17ace5d1cb3d.png');
          "
        ></div>
        <div>
          <p class="text-[#111518] text-base font-medium leading-normal">
            Masaje
          </p>
          <p class="text-[#60778a] text-sm font-normal leading-normal">
            Masaje de tejido profundo
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
